.react-table {
  $basic-border: solid 1px $grey;

  font-family: sans-serif;
  font-size: 13px;
  font-weight: 300;

  &.bordered > table {
    & > thead > tr > th,
    & > tbody > tr > td {
      border: $basic-border;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
  }

  td,
  th {
    overflow: hidden;
    padding: 0;
    text-align: left;
  }

  th {
    border-bottom: $basic-border;
    font-weight: 400;
    padding: 6px 0;
  }

  .tbody-empty td {
    text-align: center;
    padding: 16px;
    font-size: 12px;
  }

  .table-row.clickable {
    cursor: pointer;

    &:hover {
      background-color: $light-grey;
    }
  }

  .table-cell {
    padding: 12px;
  }

  .table-cell {
    &,
    & > * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .expandable-table-body-cell {
    text-align: center;
  }

  .table-body-expand-cell-button {
    cursor: pointer;
  }

  &.bordered .table-body-expanded-row-empty-td {
    border: none;
  }
}
